/* div{
    background-color: brown;
}
.someText{
    background-color: blue;
    font-size: 20px;
} */
 body {
    font-family: Arial, Helvetica, sans-serif;
}
 /* .head {
    font-size: 30px;
    color: red
 }
  .secondHead {
    font-size: 13px;
  }
   .boldText {
    font-weight: 700;
   }
    .readText {
    color: red;
    }
     .thirdHead {
    font-size: 13px;
     }
.textMove{
    text-align: right;
}
.appercase{
    text-transform: uppercase;
}
.wordstyle{
    font-style: italic;
}
.texttick{
    text-decoration: underline;
}
.centeredtext{
    text-align: center;
}  */

/* .example-block{
    width: 500px;
padding: 50px 30px 5px 100px;
margin: 50px 30px 5px 100px;
border: 1px solid black

}
.example-string{
    width: 500px;

}
.example-img{
    width: 100px   ;
} */

/* .example-block{
    box-shadow: 5px 5px 10px 5px red;
    padding: 15px;
    font-size: 50px;
    margin: 20px;
    border-radius: 30px ;
    opacity: 0.5;
}
.example-string{
    font-size: 50px;


}
.example-img{
    border: 10px dashed red;

} */
body{
    padding: 30px
}

.block{
   background: url('https://i.pinimg.com/736x/52/31/27/5231271a1f410b70ee8cc43f945e1529.jpg') 0 0/100% no-repeat;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}
/* .secondBlock{

    
} */
   













