/* div{
    background-color: brown;
}
.someText{
    background-color: blue;
    font-size: 20px;
} */
 body {
    font-family: Arial, Helvetica, sans-serif;
}
 /* .head {
    font-size: 30px;
    color: red
 }
  .secondHead {
    font-size: 13px;
  }
   .boldText {
    font-weight: 700;
   }
    .readText {
    color: red;
    }
     .thirdHead {
    font-size: 13px;
     }
.textMove{
    text-align: right;
}
.appercase{
    text-transform: uppercase;
}
.wordstyle{
    font-style: italic;
}
.texttick{
    text-decoration: underline;
}
.centeredtext{
    text-align: center;
}  */

/* .example-block{
    width: 500px;
padding: 50px 30px 5px 100px;
margin: 50px 30px 5px 100px;
border: 1px solid black

}
.example-string{
    width: 500px;

}
.example-img{
    width: 100px   ;
} */

.example-block{
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid red;
    font-size: 50px;
    margin: 0 0 30px 0;
}
.example-string{
    font-size: 50px;


}
.example-img{
    border: 10px dashed red;

}













